@import "../../styles/App.scss";

.CaseFiltr {
  color: rgb(255, 255, 255);
  padding-top: 130px;
  font-weight: 100;
  &__square {
    margin-left: 60%;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
    border: 4px solid #fff;
    @include w-600 {
      display: none;
    }
  }

  &__square1 {
    margin: 25px 0 100px;
    width: 65px;
    height: 65px;
    border: 4px solid #fff;
    border-radius: 5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 40;
    margin-left: 60px;

    @include w-770 {
      margin-left: 40px;
      @include w-600 {
        display: none;
      }
    }
  }

  &__filtr {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    line-height: 0;
    padding: 0 60px;
    @include w-1024 {
      display: block;
      @include w-770 {
        padding: 0 40px;
      }
    }
    &--title {
      font-size: 150px;
      letter-spacing: 2px;
      @include w-1470 {
        font-size: 120px;
        @include w-1024 {
          font-size: 90px;
          @include w-770 {
            font-size: 70px;
          }
        }
      }
    }
    &--btnBlock {
      position: relative;
    }
    &--filtersBtn {
      display: flex;
      align-items: center;
      position: relative;

      @include w-1024 {
        justify-content: right;
      }
    }

    &--btnRect {
      width: 25px;
      height: 25px;
      border: 3px solid #fff;
      border-radius: 3px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      margin-right: 32px;
      cursor: pointer;
      @include w-600 {
        width: 20px;
        height: 20px;
      }
    }

    &--filtersText {
      letter-spacing: 0.02em;
      font-size: 48px;
      cursor: pointer;
      margin-bottom: 7px;
      @include w-600 {
        font-size: 24px;
      }
    }

    &--btnClean {
      font-size: 24px;
      color: #fb6542;
      margin-bottom: 5px;
      margin-right: 80px;
      cursor: pointer;
      @include w-600 {
        font-size: 18px;
        margin-right: 15px;
      }
    }
    &--borderClean {
      height: 0;
      width: 35px;
      border: 1px solid #fb6542;
      position: absolute;
      bottom: 0;
      left: 120px;
      @include w-600 {
        display: none;
        width: 35px;
      }
    }

    &--animationLineLong {
      position: relative;
      width: 80px;
      height: 0;
      border: 1px solid #fff;
      margin-right: 32px;
      right: 0;
      animation-duration: 0.3s;
      animation-name: slidein;

      @keyframes slidein {
        from {
          width: 0;
        }

        to {
          width: 80px;
        }
      }
      @include w-600 {
        display: none;
      }
    }
  }

  &__table {
    display: flex;
    justify-content: space-between;

    &--type {
      display: flex;
      width: 100%;
      justify-content: space-around;
      @include w-1024 {
        display: block;
      }

      li {
        list-style: none;
        font-size: 24px;
        cursor: pointer;
        margin-bottom: 20px;
        max-width: 200px;
        @include w-770 {
          font-size: 18px;
          @include w-600 {
            max-width: 70%;
          }
        }
      }
    }
    &--typeMob {
      display: flex;
      position: relative;
      gap: 20%;
      width: 50%;
      @include w-1470 {
        gap: 10%;
        @include w-1270 {
          gap: 5%;
          @include w-600 {
            display: block;
            width: 100%;
          }
        }
      }
    }

    &--typeTitle {
      font-weight: 700;
      padding-bottom: 50px;
      @include w-600 {
        width: 100%;
        padding: 20px 0 10px;
        border-bottom: solid #fff 2px;
      }
    }

    &--block2 {
      position: relative;
      display: flex;
      width: 50%;
      justify-content: space-between;
      @include w-1024 {
        width: 100%;
      }
    }
    &--border {
      display: none;
      @include w-1024 {
        display: block;
        width: 83.5%;
        right: 100px;
        border: 1px solid #fff;
        position: absolute;
        background-color: #fff;
        top: 60px;
        @include w-770 {
          width: 77.5%;
          @include w-600 {
            display: none;
          }
        }
      }
    }
  }
  &__border {
    width: 90%;
    right: 100px;
    border: 1px solid #fff;
    position: absolute;
    background-color: #fff;
    top: 60px;
    @include w-1024 {
      width: 83.5%;
      @include w-770 {
        width: 77.5%;
        @include w-600 {
          display: none;
        }
      }
    }
  }
}
.activNone {
  width: 0;
  border: 0px solid #fff;
  animation-duration: 0.3s;
  animation-name: slidein1;

  @keyframes slidein1 {
    from {
      width: 80px;
    }

    to {
      width: 0;
      border: 1px solid #fff;
    }
  }
}
.selected {
  color: #fb6542;
}
.borderColor__activ {
  border: 3px solid #fb6542;
}
#backgroundColor {
  background-color: #fff;
}

.CaseFiltr__table--block {
  position: fixed;
  right: -120%;
}
.CaseFiltr__table--block.visible {
  width: 100%;
  position: relative;
  transition: right 0.3s ease-in-out;
  z-index: 10;
  right: 0;
  width: 100%;
}
