@import "../../styles/App.scss";

.Header {
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 60px;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  z-index: 10;
  height: 120px;
  background-color: rgba(19, 18, 18, 0.8);
  backdrop-filter: blur(5px);
  @include w-770 {
    padding: 0 40px;
  }
  &__menu {
    display: flex;
    gap: 110px;

    &--block {
      display: flex;
      padding-top: 6px;
      gap: 32px;
      @include w-770 {
        display: none;
      }
    }
    &--item {
      text-transform: uppercase;
      text-decoration: none;
      font-size: 20px;

      color: #fff;
    }
  }
}
