@import "./styles/App.scss";

body {
  background-color: #131212;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "GothamPro", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "GothamPro", monospace;
}

.wrapper {
  margin: 0 auto;
  max-width: 1550px;
  width: 100%;
  position: relative;
}
