@import "../../styles/App.scss";

.case {
  max-width: 1550px;
  margin: auto;
  &__list {
    padding: 0 100px;
    display: flex;
    gap: 48px;
    @include w-1670 {
      padding: 0 60px;
      gap: 31px;

      @include w-770 {
        display: block;
        padding: 0 40px;
        @include w-600 {
          padding: 0 16px;
        }
      }
    }
  }
  &__firstCaises {
    width: 100%;
  }
  &__secondCaises {
    width: 100%;
  }
}

/* Ваши стили CSS */

.custom-spin .ant-spin-dot i {
  background-color: #fff;
}

.custom-spin {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}
